* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  background: white;
}

h2 {
  font-size: 5rem;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  margin-left: 5rem;
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1.5rem;
  transform: translate(-50%, -50%) scale(6);
}

.first-page {
  height: 100vh;
  background-color: rgb(22, 22, 22);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intro {
  width: 20%;
  margin: 0 2rem;
}

.home {
  height: 100vh;
}

.first-page img {
  max-height: 100%;
  max-width: 70%;
}
